spring:
  application:
    name: timeout-airline
  datasource:
    url: jdbc:postgresql://localhost:5432/timeout_airline_db
    driver-class-name: org.postgresql.Driver

    jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          format_sql: true
          dialect: org.hibernate.dialect.PostgreSQLDialect